@import "./variables.scss";

#root {
    margin: 0 auto;
    text-align: left;
    width: 100%;
}

.app-container {
    display: flex;
    min-height: calc(100vh - 64px);
    flex-direction: column;
    align-items: stretch;
    padding: 2.5rem 1.5rem 4rem;
    max-width: 1200px;
    margin: 0 auto;
    gap: 32px;
}

.ant-layout-header {
    padding: 0%;
}

@media only screen and (max-width: 767px) {
    .app-container {
        padding: 1.5rem 1rem 3rem;
        gap: 24px;
    }
}
