.input {
  min-width: 160px;
  background-color: white;
  border-radius: 5px;
  .ant-input-number-group-addon {
    padding: 0;
  }
}
.number-input {
  width: 100%;
}
.ant-input-number-wrapper {
  z-index: 0;
}
.search-input {
  width: 100%;
  min-width: 100px;
  max-width: 304px;
}
.select-input {
  width: 100%;
}

.survey-next {
  margin: 1rem;
}
.survey-back {
  margin: 1rem;
  background: #faf9f9;
  color: var(--accent-color);
}

.survey-buttons {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.survey-step {
  padding: 12px;
  padding-inline: 24px;
  font-size: 18px;
}

.form-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 16px;
  padding-block: 8px;
  gap: 4px;
}

.field-alert {
  color: red;
  font-size: 14px;
  margin: 2px;
}

.error-container {
  min-height: 26px;
}

/* Radio styles */
.radio-group {
  display: flex;
  gap: 4px;
  justify-content: start;
  flex-wrap: wrap;
}

.radio-label {
  display: inline-block;
  min-width: 80px;
  padding: 4px;
  padding-inline: 12px;
  margin: 4px;
  border-radius: 6px;
  text-align: center;
  background: #faf9f9;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.radio-label:hover {
  background: #4096ff;
  color: #faf9f9;
}

// hide input but keep it accessible
.radio-input {
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: 0;
}

.radio-input:checked + .radio-label {
  background: #1677ff;
  color: #faf9f9;
}

.radio-input:focus + .radio-label,
.radio-input:focus-visible + .radio-label {
  border: 1px solid #1677ff;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  outline: 0;
  margin: 3px;
}

.radio-input:checked:hover + .radio-label {
  background: #4096ff;
}
