.insights-page {
    padding: 2.5rem 0;
}

.desktop-anchor {
    display: none;
    text-align: left;
}

@media (min-width: 767px) {
    .desktop-anchor {
        display: block;
    }
}

@media (max-width: 767px) {
    .desktop-anchor {
        display: none;
    }
}
