.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    flex: 1;
    margin-bottom: 32px;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
    & > *:first-child {
        grid-column: span 2;
    }
}

@media only screen and (max-width: 767px) {
    .content-container {
        grid-template-columns: 1fr;

        & > *:first-child {
            grid-column: span 1;
        }
    }
}
