.no-data-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    .cat-img {
        width: 160px;
        transform: rotate(200deg);
    }
    .text {
        font-size: 16px;
        color: var(--color-muted);
    }
}
