.rounded-tag {
  border-radius: 10px;
  background-color: rgba(76, 136, 239, 0.08);
  color: rgba(76, 136, 239, 1);
  padding: 4px 8px;
  display: inline-block;
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
  margin: 8px;
}


