.salary-comment-container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.stats-actions {
    display: flex;
    justify-content: flex-start;
}

.stats-actions .ant-btn {
    min-width: 220px;
}

@media only screen and (max-width: 767px) {
    .stats-actions .ant-btn {
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (max-width: 767px) {
    .salary-comment-container {
        margin: 0.5rem 1rem;
        flex-direction: inherit;
    }
}
